<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Galerie photos PiCamera">
    <meta name="robots" content="noindex, nofollow">
    <title>PiCamera - Galerie Photos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 style="text-align: center;">Galerie Photos</h1>
            <div class="boutons-container">
                <a href="{{ url_for('index') }}" class="btn btn-gris">Retour à la caméra</a>
            </div>
        </div>

        <div class="panel">
            <div id="gallery" class="grid-gallery">
                <!-- La galerie sera remplie dynamiquement par JavaScript -->
            </div>
        </div>
    </div>
    
    <div id="toast" style="display: none;" class="toast"></div>

    <script src="{{ url_for('static', filename='js/galerie.js') }}"></script>
</body>
</html>